{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Test Blog</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
	<header>
		<h1>
			<a href="{% url 'home' %}">Test Blog</a>
		</h1>
	</header>
	{% if user.is_authenticated %}
		<p>Xush kelibsiz, {{ user.username}}!</p>
		<p><a href="{% url 'logout' %}">Saytdan chiqish</a></p>
	{% else %}
		<p><a href="{% url 'login' %}">Saytga kirish</a></p>
		<p><a href="{% url 'signup' %}">Ro'yxatdan o'tish</a></p>

	{% endif %}
	<div>
		{% block content %}

		{% endblock content %}
	</div>
	<footer>
		<h2><a href="{% url 'post_new'  %}">Yangi post yozish</a></h2>
	</footer>
</body>
</html>